<tui-input style="margin-bottom: 1em" [(ngModel)]="inputValue">Placeholder..</tui-input>

<div style="display: flex; justify-content: space-between; margin-bottom: 1em">
    <tui-multi-select
            *tuiLet="list$ | async as currencyList"
            style="width: 250px"
            [(ngModel)]="value"
            [tuiTextfieldLabelOutside]="true"
    >

        <ng-template tuiDataList tuiMultiSelectGroup>
            <tui-data-list *ngIf="currencyList; else loading">
                <button *ngFor="let currency of currencyList" tuiOption [value]="currency">{{ currency }}</button>
            </tui-data-list>

            <ng-template #loading>
                <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
            </ng-template>
        </ng-template>
    </tui-multi-select>

    <button tuiButton (click)="buttonEvent()">
        click me!
    </button>
</div>

<div style="display: flex; justify-content: space-between">
    <tui-input-date-time [(ngModel)]="datetime" timeMode="HH:MM" style="width: 250px" >
        Choose date and time
    </tui-input-date-time>

    <button tuiButton (click)="openDialog()">
        open dialog
    </button>
</div>

